html,
body,
div#root,
main {
  height: 100vh
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  width: 100%;
  margin: 0;
  background: #202020;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1262px;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-end {
    justify-content: flex-end;
  }
}
.align-items-center {
  align-items: center;
}

.text-uppercase {
  text-transform: uppercase;
}

* {
  font-family: 'Open Sans';
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  vertical-align: middle;
  width: 1em;
}


h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.mlr-20 {
  margin: 0 22px;
}

.flex {
  &-1 {
    flex: 1;
  }
  &-2 {
    flex: 2;
  }
}

.text-overflow-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h-100 {
  height: 100%;
}

.h-500 {
  height: 500px;
}
.line-32 {
  line-height: 32px !important;
}

.w-100 {
  width: 100%;
}